body {
    background-color: #121212;
    font-family: 'Arial', sans-serif;
}

.card {
    border-radius: 8px;
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: bold;
}

h2 {
    margin-bottom: 0;
}

.table-hover tbody tr:hover {
    background-color: #1f1f1f;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.alert-warning {
    background-color: #ffcc00;
    color: #121212;
}

